{% extends 'base.html'%}
{% load static %}
{% block content %}


    <div class="row mt-3">
      <div class="col-lg-10">
         <div class="card">
           <div class="card-body">
           <div class="card-title">Ingresar Registro</div>
           {% if status == 'ERROR' %}
             <div class="card-title bg-danger">Error al ingresar la noticia</div>
            {% elif status == 'OK' %}
              <div class="card-title bg-success">Exito al ingresar la noticia</div>
           {% endif %}
           <hr>
            <form method="POST">{% csrf_token %}
           <div class="form-group">
              <label for="input-3">Titular</label>
              <input type="text" class="form-control" id="txtTitular" name="txtTitular" placeholder="Ingrese el Titular de la noticia a ingresar">
           </div>

           <div class="form-group">
              <label for="input-3">Descripción</label>
              <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" placeholder="Ingrese el Cuerpo de la nocitica a ingresar" style="height: 20vh;">
           </div>

           <div class="form-group">
              <label for="input-3">Fuente</label>
              <input type="text" class="form-control" id="txtFuente" name="txtFuente" placeholder="Ingrese la fuente de la noticia">
           </div>

          <div class="form-group">
            <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i>Ingresar Noticia</button>
          </div>
        </form>

        <div>
          <!-- {% for x in list %}
              <h2>Fecha: {{x.RDate}}</h2>
              <h2>Nombre Comuna: {{x.RComuna}}</h2>
              <h2>Confirmados: {{x.RConfirmed}}</h2>
              <h2>Activos: {{x.RActive}}</h2>
              <h2>--------------------------</h2>
            {% endfor %} -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->




{% endblock %}