{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

  <!--Start Dashboard Content-->
	<div class="row">
     <div class="col-12 col-lg-12 col-xl-12">
	    <div class="card">
		 <div class="card-header">Contagiados Por Región
		   <div class="card-action">
			 <div class="dropdown">
			 <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
			  <i class="icon-options"></i>
			 </a>
				<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="javascript:void();">Action</a>
				<a class="dropdown-item" href="javascript:void();">Another action</a>
				<a class="dropdown-item" href="javascript:void();">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="javascript:void();">Separated link</a>
			   </div>
			  </div>
		   </div>
		 </div>
		 <div class="card-body">
		    <ul class="list-inline">
			  <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Nuevos Casos</li>
			  <li class="list-inline-item"><i class="fa fa-circle mr-2 text-light"></i>Casos Anteriores</li>
			</ul>
			<div class="chart-container-1">

        <canvas id="myChart" width="500" height="400"></canvas>
          <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
          <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
          <script type="text/javascript">
              $.get('{% url "line_chart_json" %}', function(data) {
                  var ctx = $("#myChart").get(0).getContext("2d");
                  new Chart(ctx, {
                      type: 'bar', data: data
                  });
                  
              });
      </script>
			</div>
		 </div>
		</div>
	 </div>
	</div><!--End Row-->
	
	<div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">Tabla de Contagiados por Centro Medico</div>
	       <div class="table-responsive">
          <table class="table align-items-center table-flush table-borderless">
          <thead>
            <tr>
              <th>ID</th>
              <th>Estado</th>
              <th>Centro Medico</th>
              <th>Fecha De Alerta</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td>2</td>
                <td>Recuperado</td>
                <td>Del Carmen</td>
                <td>03 Aug 2017</td>
                <td><div style="height: 3px;"></div></td>
              </tr>

              <tr>
                <td>3</td>
                <td>Fallecido</td>
                <td>Del Carmen</td>
                <td>03 Aug 2017</td>
                <td><div style="height: 3px;"></div></td>
              </tr>

              <tr>
                <td>4</td>
                <td>Recuperado</td>
                <td>Del Carmen</td>
                <td>03 Aug 2017</td>
                <td><div style="height: 3px;"></div></td>
              </tr>

              <tr>
                <td>5</td>
                <td>Infectado</td>
                <td>Del Carmen</td>
                <td>03 Aug 2017</td>
                <td><div style="height: 3px;"></div></td>
              </tr>

              <tr>
                <td>6</td>
                <td>Recuperado</td>
                <td>Del Carmen</td>
                <td>03 Aug 2017</td>
                <td><div style="height: 3px;"></div></td>
              </tr>
    
            <tr>
              <td>7</td>
              <td>Recuperado</td>
              <td>Del Carmen</td>
              <td>03 Aug 2017</td>
              <td><div style="height: 3px;"></div></td>
            </tr>
          </tbody></table>
        </div>
	   </div>
	 </div>
  </div><!--End Row-->
{% endblock %}
