{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="clearfix"></div>

{% comment %} <div class="content-wrapper">
  <div class="container-fluid"> {% endcomment %}


    <!--Start Dashboard Content-->
    <div class="card mt-3">
      <div class="card-content">
        <div class="row row-group m-0">
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{activos}}<span class="float-right"><i class="fa fa-eye"></i></span></h5>
              <div class="progress my-3" style="height:3px;">
                <div class="progress-bar" style="width:55%"></div>
              </div>
              <p class="mb-0 text-white small-font">Total de casos activos <span
                  class="float-right">{{PorActivosIncre|floatformat}}% {% if PorActivosIncre > 0 %}<i
                    class="zmdi zmdi-long-arrow-up">{% else %}<i
                      class="zmdi zmdi-long-arrow-down">{% endif %}</i></span></p>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{nuevos}} <span class="float-right"><i
                    class="zmdi zmdi-male-female"></i></span></h5>
              <div class="progress my-3" style="height:3px;">
                <div class="progress-bar" style="width:55%"></div>
              </div>
              <p class="mb-0 text-white small-font">Casos Nuevos <span class="float-right">{{PorCasoNuevo|floatformat}}%
                  {% if PorCasoNuevo > 0 %}<i class="zmdi zmdi-long-arrow-up">{% else %}<i
                      class="zmdi zmdi-long-arrow-down">{% endif %}</i></span></p>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{contagiados}} <span class="float-right"><i class="fa fa-bug"></i></span>
              </h5>
              <div class="progress my-3" style="height:3px;">
                <div class="progress-bar" style="width:55%"></div>
              </div>
              <p class="mb-0 text-white small-font">Total de contagiados <span
                  class="float-right">{{PorTotCont|floatformat}}% {% if PorTotCont > 0 %}<i
                    class="zmdi zmdi-long-arrow-up">{% else %}<i
                      class="zmdi zmdi-long-arrow-down">{% endif %}</i></span></p>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{totfallecidos}} <span class="float-right"><i
                    class="zmdi zmdi-mood-bad"></i></span></h5>
              <div class="progress my-3" style="height:3px;">
                <div class="progress-bar" style="width:55%"></div>
              </div>
              <p class="mb-0 text-white small-font">Total de fallecidos<span
                  class="float-right">{{PorTotFall|floatformat}}% {% if PorTotFall > 0 %}<i
                    class="zmdi zmdi-long-arrow-up">{% else %}<i
                      class="zmdi zmdi-long-arrow-down">{% endif %}</i></span></p>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{totrecuperados}} <span class="float-right"><i
                    class="zmdi zmdi-case-check"></i></span></h5>
              <div class="progress my-3" style="height:3px;">
                <div class="progress-bar" style="width:55%"></div>
              </div>
              <p class="mb-0 text-white small-font">Total de personas recuperadas <span
                  class="float-right">{{PorTotReco|floatformat}}% {% if PorTotReco > 0 %}<i
                    class="zmdi zmdi-long-arrow-up">{% else %}<i
                      class="zmdi zmdi-long-arrow-down">{% endif %}</i></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fin datos de numero-->
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <div class="card-header">Bienvenido Administrador, recuerde tener cuidado con la modificación de datos para
          evitar conflictos con la información</div>
        {% endif %}
        {% endif %}

        <div class="card">
          <div class="card-header">Distribucion de Contagios reportados por Región
            {% comment %}<div class="card-action">
              <div class="dropdown">
                 <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret"
                  data-toggle="dropdown">
                  <i class="icon-options"></i>
                </a> {% endcomment %}
                {% comment %}<div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="javascript:void();">Filtrar Por Comuna</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void();">Filtrar Por Región</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void();">Ver Casos Activos</a>
                </div> 
              </div>
            </div>{% endcomment %}
          </div>
          <div class="card-body">
            {% comment %} <ul class="list-inline">
              <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Nuevos Casos</li>
              <li class="list-inline-item"><i class="fa fa-circle mr-2 text-light"></i>Casos Anteriores</li>
            </ul> {% endcomment %}
            <div class="chart-container-1">
              <canvas id="myChart"></canvas>
              <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
              <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
              <script type="text/javascript">
                $.get('{% url "line_chart_json" %}', function (data) {
                  var ctx = $("#myChart").get(0).getContext("2d");
                  new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                      maintainAspectRatio: false,
                      legend: {
                        display: true,
                        labels: {
                          fontColor: '#ddd',
                          boxWidth: 10
                        }
                      },
                      tooltips: {
                        displayColors: false
                      },
                      scales: {
                        xAxes: [{
                          ticks: {
                            beginAtZero: false,
                            fontColor: '#ddd'
                          },
                          gridLines: {
                            display: true,
                            color: "rgba(221, 221, 221, 0.08)"
                          },
                        }],
                        yAxes: [{
                          ticks: {
                            beginAtZero: true,
                            fontColor: '#ddd'
                          },
                          gridLines: {
                            display: true,
                            color: "rgba(221, 221, 221, 0.08)"
                          },
                        }]
                      }

                    }
                  });

                });
              </script>

              {% comment %} {% block charts %}

              {% endblock charts %} {% endcomment %}


            </div>
          </div>
        </div>
      </div>
    <!-- Segundo Grafico-->
    <div class="col-12 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-header">Muertos Por Region
        {% comment %} <div class="card-action">
          <div class="dropdown">
            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
      <div class="card-body" >
        <div class="chart-container-10">
              <canvas id="chart2"></canvas>
              <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
              <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
              <script type="text/javascript">
                $.get('{% url "line_chart_json2" %}', function (data) {
                  var ctx = $("#chart2").get(0).getContext("2d");
                  new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                      maintainAspectRatio: false,
                      legend: {
                        display: true,
                        labels: {
                          fontColor: '#ddd',
                          boxWidth: 6
                        }
                      },
                      tooltips: {
                        displayColors: true
                      },
                      scales: {
                        xAxes: [{
                          ticks: {
                            beginAtZero: false,
                            fontColor: '#ddd'
                          },
                          gridLines: {
                            display: true,
                            color: "rgba(221, 221, 221, 0.08)"
                          },
                        }],
                        yAxes: [{
                          ticks: {
                            beginAtZero: false,
                            fontColor: '#ddd'
                          },
                          gridLines: {
                            display: true,
                            color: "rgba(221, 221, 221, 0.08)"
                          },
                        }]
                      }

                    }
                  });

                });
              </script>
        </div>
      </div>


    </div>
  </div>
  <!-- Tercer Grafico-->
  <div class="col-12 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-header">Recuperados Por Region
        {% comment %} <div class="card-action">
          <div class="dropdown">
            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
            </div>
          </div>
        </div> {% endcomment %}
      </div>
     <div class="card-body" >
        <div class="chart-container-10">
              <canvas id="chart3"></canvas>
              <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
              <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
              <script type="text/javascript">
                $.get('{% url "line_chart_json3" %}', function (data) {
                  var ctx = $("#chart3").get(0).getContext("2d");
                  new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                      maintainAspectRatio: false,
                      legend: {
                        display: true,
                        labels: {
                          fontColor: '#ddd',
                          boxWidth: 8
                        }
                      },
                      tooltips: {
                        displayColors: false
                      },
                      scales: {
                        xAxes: [{
                          ticks: {
                            beginAtZero: true,
                            fontColor: '#ddd'
                          },
                          gridLines: {
                            display: true,
                            color: "rgba(221, 221, 221, 0.08)"
                          },
                        }],
                        yAxes: [{
                          ticks: {
                            beginAtZero: true,
                            fontColor: '#ddd'
                          },
                          gridLines: {
                            display: true,
                            color: "rgba(221, 221, 221, 0.08)"
                          },
                        }]
                      }

                    }
                  });

                });
              </script>
        </div>
      </div>

    </div>
  </div>
</div>
    <!--End Row-->

    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-header">Top 10 de comunas con mas Contagios en el ultimo reporte nivel Nacional</div>
          <div class="table-responsive">
            <table id="dtCovid" class="table align-items-center table-flush table-borderless">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Region</th>
                  <th>Comuna</th>
                  <th>Nuevos Confirmados</th>
                  <th>Activos</th>
                  <th>Recuperados</th>
                </tr>
              </thead>
              <tbody>
                {% for tab in tablas %}
                <tr>
                  <td>{{tab.RDate}}</td>
                  <td>{{tab.RComuna.Reg}}</td>
                  <td>{{tab.RComuna}}</td>
                  <td>{{tab.RConfirmed|floatformat}}</td>
                  <td>{{tab.RActive|floatformat}}</td>
                  <td>{{tab.RRecovered|floatformat}}</td>
                  <td>
                    <div style="height: 3px;"></div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--End Row-->
    <!--End Dashboard Content-->
    {% endblock %}