{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="row mt-3">
        <div class="col-lg-4">
           <div class="card profile-card-2">
            <div class="card-img-block">
                <img class="img-fluid" src="https://static01.nyt.com/newsgraphics/2020/03/10/coronavirus-pathogen/0ee8f1a44b1932072653a0a75ff96486feb6f36d/covid-virus.png" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
                <h5 class="card-title">Historia del coronavirus</h5>
                <p align="justify" class="card-text">Los coronavirus son una familia de virus que se descubrió en la década de los 60 pero 
                cuyo origen es todavía desconocido. Sus diferentes tipos provocan distintas enfermedades, desde un resfriado 
                hasta un síndrome respiratorio grave (una forma grave de neumonía). <br>
                Gran parte de los coronavirus no son peligrosos y se pueden tratar de forma eficaz. De hecho, la mayoría 
                de las personas contraen en algún momento de su vida un coronavirus, generalmente durante su infancia. Aunque 
                son más frecuentes en otoño o invierno, se pueden adquirir en cualquier época del año. <br>
                El coronavirus debe su nombre al aspecto que presenta, ya que es muy parecido a una corona o un halo. Se trata 
                de un tipo de virus presente sobre todo en los animales, pero también en los humanos.</p>
                <div class="icon-block">
                  <a href="javascript:void();"><i class="fa fa-facebook bg-facebook text-white"></i></a>
				  <a href="javascript:void();"> <i class="fa fa-twitter bg-twitter text-white"></i></a>
				  <a href="javascript:void();"> <i class="fa fa-google-plus bg-google-plus text-white"></i></a>
                </div>
            </div>
        </div>

        </div>

        <div class="col-lg-8">
           <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                <li class="nav-item">
                    <a data-target="#messages" data-toggle="pill" ><i class="icon-envelope-open"></i> <span class="hidden-xs">Noticias</span></a>
                </li>
            </ul>

                <div class="tab-pane" id="messages">
                    <div class="alert alert-info alert-dismissible" role="alert">
				   <button type="button" class="close" data-dismiss="alert">&times;</button>
				    <div class="alert-icon">
					 <i class="icon-info"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Noticias!</strong> Informacion diaria</span>
				    </div>
                  </div>
                  <div class="container">
                
                <div style="text-align: justify;" class="card">
                        <div  class="card-body">
                        {% if noticia %}
                        {% for Noticias in noticia %}

                            <div style="font-size:25px">
                                {{Noticias.titular}}
                            </div> <br>

                            <div>
                                {{Noticias.descripcion}}
                            </div> <br>

                            <div>
                              <a href="{{Noticias.fuente}}">Fuente: {{Noticias.fuente}}</a>
                            </div> <br>
                        {% endfor %}
                                    
                                    
                        {% endif %}
                        </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
      </div>
      </div>
        
    </div>

	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
	
    </div>
    <!-- End container-fluid-->
   </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
{% endblock %}


